In [0]:
import sqlite3 # Once imported in a single notebook, it is available to us throughout the rest of the notebook. 
# connect to database, if not there, create it.
connectionToDatabase = sqlite3.connect('Sneakers') 
cursor = connectionToDatabase.cursor()

In [37]:
cursor.execute('''drop table IF EXISTS Sneaker''')
connectionToDatabase.commit()

cursor.execute('''create table sneaker (sneakerID text PRIMARY KEY, brand text, color text, company text)''')
connectionToDatabase.commit()

OperationalError: ignored

In [0]:
insertStatement =  """insert into sneaker values ('98723171', 'Nike', 'red', 'Nike')""" 
cursor.execute(insertStatement)
insertStatement =  """insert into sneaker values ('43455434', 'Adidas', 'blue', 'Adidas')""" 
cursor.execute(insertStatement)
insertStatement =  """insert into sneaker values ('74382624', 'Vans', 'black', 'Vans')""" 
cursor.execute(insertStatement)
insertStatement =  """insert into sneaker values ('18367837', 'UnderArmour', 'yellow', 'UnderArmour')""" 
cursor.execute(insertStatement)
insertStatement =  """insert into sneaker values ('09735473', 'Jordan', 'purple', 'Nike')""" 
cursor.execute(insertStatement)

connectionToDatabase.commit()

In [0]:
cursor.execute('''select * from sneaker''')
for row in cursor.fetchall():
  print (row)

In [0]:
cursor.execute('''drop table IF EXISTS ShoeCompany''')
connectionToDatabase.commit()

cursor.execute('''create table ShoeCompany (companyID text PRIMARY KEY, streetAddress text, state text, zip text)''')
connectionToDatabase.commit()

In [0]:
insertStatement =  """insert into ShoeCompany values ('748374', 'James Avenue', 'Delaware', '17845')""" 
cursor.execute(insertStatement)
insertStatement =  """insert into ShoeCompany values ('927475', 'Poplar Street', 'Virginia', '19846')""" 
cursor.execute(insertStatement)
insertStatement =  """insert into ShoeCompany values ('554624', 'Chesnut Street', 'Kentucky', '18463')""" 
cursor.execute(insertStatement)
insertStatement =  """insert into ShoeCompany values ('126549', 'Fordham Boulevard', 'Michigan', '17862')""" 
cursor.execute(insertStatement)
insertStatement =  """insert into ShoeCompany values ('330017', 'Silk Road', 'Kansas', '28465')""" 
cursor.execute(insertStatement)

connectionToDatabase.commit()

In [0]:
cursor.execute('''drop table IF EXISTS VendorInfo''')
connectionToDatabase.commit()

cursor.execute('''create table VendorInfo (Vendorinfo text PRIMARY KEY, VendorID text, state text, zip text, streetAdress text)''')
connectionToDatabase.commit()

In [0]:
insertStatement =  """insert into VendorInfo values ('22', 'Delaware', 'red', '17845', 'James Avenue')""" 
cursor.execute(insertStatement)
insertStatement =  """insert into VendorInfo values ('78', 'Virginia', 'blue', '19846', 'Poplar Street')""" 
cursor.execute(insertStatement)
insertStatement =  """insert into VendorInfo values ('56', 'Kentucky', 'black', '18463', 'Chesnut Street')""" 
cursor.execute(insertStatement)
insertStatement =  """insert into VendorInfo values ('26', 'Michigan', 'yellow', '17862', 'Fordham Boulevard')""" 
cursor.execute(insertStatement)
insertStatement =  """insert into VendorInfo values ('75', 'Kansas', 'purple', '28465', 'Silk Road')""" 
cursor.execute(insertStatement)

connectionToDatabase.commit()

In [0]:
cursor.execute('''drop table IF EXISTS Vendors''')
connectionToDatabase.commit()

cursor.execute('''create table Vendors (vendorID text PRIMARY KEY, Name text, URL text)''')
connectionToDatabase.commit()

In [0]:
insertStatement =  """insert into Vendors values ('22436', 'Kordan', 'www.kordan.com')""" 
cursor.execute(insertStatement)
insertStatement =  """insert into Vendors values ('78463', 'Vimn', 'www.vimn.com')""" 
cursor.execute(insertStatement)
insertStatement =  """insert into Vendors values ('56346', 'Jumboo', 'www.jumboo.com')""" 
cursor.execute(insertStatement)
insertStatement =  """insert into Vendors values ('26346', 'Lunfk', 'www.lunfk.com')""" 
cursor.execute(insertStatement)
insertStatement =  """insert into Vendors values ('75346', 'rolin', 'www.rolin.com')""" 
cursor.execute(insertStatement)

In [0]:
cursor.execute('''drop table IF EXISTS Transactions''')
connectionToDatabase.commit()

cursor.execute('''create table Transactions (transID text PRIMARY KEY, vendorID text, sneakerID text, new text, price text, date text)''')
connectionToDatabase.commit()

In [0]:
insertStatement =  """insert into Transactions values ('2247736', 'Kordan', 'Nike', 'New', '100', 'March')""" 
cursor.execute(insertStatement)
insertStatement =  """insert into Transactions values ('73458463', 'Vimn', 'Adidas', 'New', '89', 'January')""" 
cursor.execute(insertStatement)
insertStatement =  """insert into Transactions values ('5466346', 'Jumboo', 'Vans', 'New', '50',' November')""" 
cursor.execute(insertStatement)
insertStatement =  """insert into Transactions values ('2623346', 'Lunfk', 'UnderArmour', 'New', '75', 'July')""" 
cursor.execute(insertStatement)
insertStatement =  """insert into Transactions values ('7535346', 'rolin', 'Jordan', 'New', '120', 'June')"""

SELECT AVG(price) FROM(Transactions) ORDER BY DESC

In [44]:
cursor.execute ('''SELECT AVG(price) FROM(Transactions) ORDER BY price DESC''')

SELECT(Color) FROM (Sneaker)

SELECT(Brand) FROM(Sneaker)

These are important because we are curious as to what color the websites offer. We are also curious as to what brand is most popular in our database. We want to also find the price of the average transaction based off of most expensive to least expensive. All of these are interesting to this group and we are curious to see how it changes in the future.